
<br />

<div class="col-12 col-sm">
  <div class="blueyah-box">
    <h2 class="yell">About us</h2>
  </div>

  <div class="blueyah-box">
    <p class="yell text-center">
      MaticSport was created primarily out of the love for the sport and joy of seeing players learn and grow as players and as people through our unique experiences.

      We offer great value for a price affordable to everyone. MaticSport is not about the money, it is about creating a unique opportunity that players of all ages can experience and giving back to the sport.
    </p>
  </div>
   
  <br />

  <div class="blueyah-box">
    <h2 class="yell">Background</h2>
  </div>

  <div class="blueyah-box">
    <p class="yell">
      MaticSport was formed in 2019 expanding from the success of Alva Brain Soccer which was developed in (year). We have evolved to expand to more clubs across the United States and Mexico.
    </p>
   </div>

   <br />

  <div class="blueyah-box">
    <h2 class="yell">Experience</h2>
  </div>

  <div class="blueyah-box">
    <p class="yell">
      We pride ourselves on possessing a high level of experience and expertise when it comes to coaching, training, tours, and overall experience. We dedicate ourselves to create a safe environment where our players have fun and develop as a player. (or develop their skills)
    </p>
  </div>
</div>

<br />
<br />
<%= image_tag ("slide1.png"), class: 'images' %>