
<br />

<div class="col-12 col-sm">
  <div class="booyah-box">
    <h2 class="black text-center">About us</h2>
  </div>

  <div class="booyah-box">
    <p class="black">
      Maticsport was created primarily out of the love for the sport and joy of seeing players learn and grow as players and as people through our unique experiences.

      We offer great value for a price affordable to everyone. Maticsport is not about the money, it is about creating a unique opportunity that players of all ages can experience and giving back to the sport.
    </p>
  </div>
   
  <br />

  <div class="booyah-box">
    <h2 class="black text-center">Background</h2>
  </div>

  <div class="booyah-box">
    <p class="black">
      Maticsport was formed in 2019 expanding from the success of Alva Brain Soccer which was developed in 2016. We have evolved to expand to more clubs across the United States and Mexico.
    </p>
   </div>

   <br />

  <div class="booyah-box">
    <h2 class="black text-center">Experience</h2>
  </div>

  <div class="booyah-box">
    <p class="black">
      We pride ourselves on possessing a high level of experience and expertise when it comes to coaching, training, tours, and overall experience. We dedicate ourselves to create a safe environment where our players have fun and develop their skills.
    </p>
  </div>

  <br />

  <div class="booyah-box">
    <h2 class="black text-center">Why choose us</h2>
  </div>

  <div class="booyah-box">
    <p class="black">
      We have become a mechanism of precision where each part of our service is linked to each other. Achieving an offer to the market a set of gears of action where they are all a part of the other.
    </p>
  </div>

  <br />

  <div class="booyah-box">
    <h2 class="black text-center">Accommodations and Excursions</h2>
  </div>

  <div class="booyah-box">
    <p class="black">
      Maticsport wants to provide superior service to implement an unforgettable experience of a lifetime.

      At each camp and/or tournament you will have a bilingual Maticsport staff member to ensure that your soccer team will get around with ease and fully enjoy its stay.

      Families can expect their children to stay in 3-5 star hotel accommodations or professional club dormitories.

      Ground Transportation: There will be a Sprinter bus that will be at the soccer team’s service from arrival until departure; from airport to match games, to excursions, it will always be available to the team.

      MaticSport works closely with Coach’s and Directors to prepare a custom-designed program for each soccer tour and town travel destinations. Admission fees for tourist attractions are not included. We have numerous cultural and historical travel recommendations and can book any requests for your soccer team ahead of time.
    </p>
  </div>

  <br />

  <div class="booyah-box">
    <h2 class="black text-center">Experience Information</h2>
  </div>

  <div class="booyah-box">
    <p class="black">
      Players will experience the intensity of playing teams from another part of the world and get to learn about the culture and history of where they are. Your players will have a chance to fulfill a soccer dream and at the same time represent your club, your town and your country on International turf.

      MaticSport agents will arrange soccer matches with teams at your team’s competitive level or at the competitive level decided by the Coach.
    </p>
  </div>
</div>

<br />
<br />
<%= image_tag ("slide1.png"), class: 'images' %>