
<div class="hero">
  <br />
  <div class="frosty col-5 offset-1 text-center d-block">
    <br />
    <h2>When excellence is sought,</h2>
  </div>
  <div class="frosty col-5 offset-1 text-center">
    <h3>each piece matters</h3>
    <br />
  </div>
</div>

<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <p>
    Due to COVID-19 and recommendations made by health professionals in both the U.S. and Mexico, we have decided to postpone any trips to keep our staff, partners, and clients safe.We are working on new dates and will keep up with current updates in both countries. MaticSport would like to thank you for your patience.
  </p>
  <p>
    Debido a COVID-19 y las recomendaciones hechas por profesionales de la salud en los EE. UU. y México, hemos decidido posponer cualquier viaje para mantener a nuestro personal, socios y clientes seguros. Estamos trabajando en nuevas fechas y nos mantendremos al día con las actualizaciones actuales en ambos países. MaticSport quisiera agradecerle por su paciencia.
  </p>
</div>

<br />

<div class="black">
  <h2 class="text-center float-left">
    The practice of a sport like any activity, requires continuous improvement of amateur or professional type, demands discipline and talent to achieve the highest performance.
    <br />
    Maticsport is an agency specialized in the "logistics of sports talent" that determines its objective not only as a facilitator in experiences for individuals or collectives but as a mechanism of professional control of times and movements.
    <br />
    Our specialty is focused on the global optimization of material resources and human development to achieve the best results translated into goals, records or championships.
    <br />
  </h2>
</div>

<br />
<div class="row feature text-center flex-container">
  <br />
  <div class="col-12 col-sm">
    <br />
    <div class="blueyah-box">
      <h3 class="yell">Testimonial</h3>
    </div>
    <%= image_tag ( "t1.jpg" ), class: 'me' %>
    <br />
    <br />
    <div class="blueyah-box">
      <p class="yell">"It was one of the most fantastic trips we've ever been able to go on. MaticSports took care of everything. They had people with us from the moment we arrived at the airport. The facilities were all fantastic and the culture; we got to travel all over Guadalajara and Jalisco. The girls experience overall was awesome and it was a great learning tool for them. It was a tremendous experience."</p>
      <p class="yell">- Nate Shotts</p>
    </div>
  </div>
  
  <div class="col-12 col-sm">
    <br />
    <div class="blueyah-box">
      <h3 class="yell">Testimonial</h3>
    </div>
    <%= image_tag ( "t2.png" ), class: 'me' %>
    <br />
    <br />
    <div class="blueyah-box">
      <p class="yell">"The trip to Guadalajara, Mexico for me meant more than I can truly express. Although, it was a group of girls that I'd never or rarely ever played with, it felt like I've been a part of them forever. This experience was eyeopening and life changing. It taught me how to not only work with girls that I don't know, but also how to be professional. One thing that truly opened my eyes was that although there was a language barrier, I learned that everywhere you go, a smile and the game of soccer is an international language. Guadalajara, Mexico wasn't only an amazing place, but it was an experience that is unforgettable because of the relationships I was able to build through the beautiful game."</p>
      <p class="yell">- Jordan</p>
    </div>
  </div>
</div>

<br /> 
<br />
<br />


<h1 class="text-center black">What we do</h1>

<div  class="booyah-box">
  <div class="row feature flex-container">
    <br />
    <div class="col-12 col-sm text-center">
      <div class="column">
        <div>
          <h3 class="black text-center">Pro-game & Competition</h3>
          <video width="320" controls controlsList="nodownload" class="d-block w-100 text-center">
            <source src="odp_dia_03_1.mp4" type="video/mp4">
            <source src="odp_dia_03_1.ogg" type="video/ogg">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>
    <br />
    <div class="col-12 col-sm text-center">
      <div class="column">
        <div>
          <h3 class="black text-center">Great competition provided</h3>
            <video width="320" controls controlsList="nodownload" class="d-block w-100 text-center">
              <source src="odp_dia_04_1.mp4" type="video/mp4">
              <source src="odp_dia_04_1.ogg" type="video/ogg">
              Your browser does not support the video tag.
            </video>
        </div>
      </div>
    </div>
    <br />
    <div class="col-12 col-sm text-center">
      <div class="column">
        <div>
          <h3 class="black text-center">Community service clinic</h3>
            <video width="320" controls controlsList="nodownload" class="d-block w-100 text-center">
              <source src="odp_dia_01_1.mp4" type="video/mp4">
              <source src="odp_dia_01_1.ogg" type="video/ogg">
              Your browser does not support the video tag.
            </video>
        </div>
      </div>
    </div>
    <br />
  </div>

  <br />
  <br />

  <div class="row feature flex-container">
    <br />
    <div class="col-12 col-sm text-center">
      <div class="column">
        <div>
          <h3 class="black text-center">Video analysis</h3>
            <video width="320" controls controlsList="nodownload" class="d-block w-100 text-center">
              <source src="odp_dia_06_1.mp4" type="video/mp4">
              <source src="odp_dia_06_1.ogg" type="video/ogg">
              Your browser does not support the video tag.
            </video>
        </div>
      </div>
    </div>
    <br />
    <div class="col-12 col-sm text-center">
      <div class="column">
        <div>
          <h3 class="black text-center">Cultural experience</h3>
            <video width="320" controls controlsList="nodownload" class="d-block w-100 text-center">
              <source src="odp_dia_02_1.mp4" type="video/mp4">
              <source src="odp_dia_02_1.ogg" type="video/ogg">
              Your browser does not support the video tag.
            </video>
        </div>
      </div>
    </div>
    <br />
    <div class="col-12 col-sm text-center">
      <div class="column">
        <div>
          <h3 class="black text-center">Sightseeing</h3>
            <video width="320" controls controlsList="nodownload" class="d-block w-100 text-center">
              <source src="odp_dia_05_1.mp4" type="video/mp4">
              <source src="odp_dia_05_1.ogg" type="video/ogg">
              Your browser does not support the video tag.
            </video>
        </div>
      </div>
    </div>
    <br />
  </div>
</div>
