
<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center d-block">
    <br />
    <h2>When excellence is sought,</h2>
  </div>
  <div class="frosty col-10 offset-1 text-center">
    <h3>each piece matters</h3>
    <br />
  </div>
</div>

<br />

<div class="black">
  <h2 class="text-center">
    The practice of a sport like any activity, requires continuous improvement of amateur or professional type, demands discipline and talent to achieve the highest performance.
    <br />
    Maticsport is an agency specialized in the "logistics of sports talent" that determines its objective not only as a facilitator in experiences for individuals or collectives but as a mechanism of professional control of times and movements.
    <br />
    Our specialty is focused on the global optimization of material resources and human development to achieve the best results translated into goals, records or championships.
    <br />
  </h2>
</div>

<br />
<div class="row feature text-center">
  <br />
  <div class="col-12 col-sm">
    <br />
    <div class="blueyah-box">
      <h3 class="yell">Testimonial</h3>
    </div>
    <%= image_tag ( "t1.jpg" ), class: 'me' %>
    <br />
    <br />
    <div class="blueyah-box">
      <p class="yell">"It was one of the most fantastic trips we've ever been able to go on. MaticSports took care of everything. They had people with us from the moment we arrived at the airport. The facilities were all fantastic and the culture; we got to travel all over Guadalajara and Jalisco. The girls experience overall was awesome and it was a great learning tool for them. It was a tremendous experience."</p>
      <p class="yell">- Nate Shotts</p>
    </div>
  </div>
  <hr />
  <div class="col-12 col-sm">
    <br />
    <div class="blueyah-box">
      <h3 class="yell">Testimonial</h3>
    </div>
    <%= image_tag ( "t2.png" ), class: 'me' %>
    <br />
    <br />
    <div class="blueyah-box">
      <p class="yell">"The trip to Guadalajara, Mexico for me meant more than I can truly express. Although, it was a group of girls that I'd never or rarely ever played with, it felt like I've been a part of them forever. This experience was eyeopening and life changing. It taught me how to not only work with girls that I don't know, but also how to be professional. One thing that truly opened my eyes was that although there was a language barrier, I learned that everywhere you go, a smile and the game of soccer is an international language. Guadalajara, Mexico wasn't only an amazing place, but it was an experience that is unforgettable because of the relationships I was able to build through the beautiful game."</p>
      <p class="yell">- Jordan</p>
    </div>
  </div>
</div>

<br /> 
<br />
<br />


<h1 class="text-center black">What we do</h1>

<div class="collie">
  <div class="row feature text-center">
    <br />
    <div class="col-12 col-sm">
      <div class="column">
        <div class="booyah-box">
          <h3 class="black">Pro-game & Competition</h3>
          <video id="odp" width="320" height="240" controls controlsList="nodownload" class="d-block w-100">
            <source src="odp_dia_03_1.mp4" type="video/mp4">
            <source src="odp_dia_03_1.ogg" type="video/ogg">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>
    <br />
    <hr />
    <div class="col-12 col-sm">
      <div class="column">
        <div class="booyah-box">
          <h3 class="black side">Great competition provided</h3>
            <video id="odp" width="320" height="240" controls controlsList="nodownload" class="d-block w-100">
              <source src="odp_dia_04_1.mp4" type="video/mp4">
              <source src="odp_dia_04_1.ogg" type="video/ogg">
              Your browser does not support the video tag.
            </video>
        </div>
      </div>
    </div>
    <br />
    <hr />
    <div class="col-12 col-sm">
      <div class="column">
        <div class="booyah-box">
          <h3 class="black side">Community service clinic</h3>
            <video id="odp" width="320" height="240" controls controlsList="nodownload" class="d-block w-100">
              <source src="odp_dia_01_1.mp4" type="video/mp4">
              <source src="odp_dia_01_1.ogg" type="video/ogg">
              Your browser does not support the video tag.
            </video>
        </div>
      </div>
    </div>
    <hr />
    <hr />
    <br />
  </div>
</div>

<div class="collie">
  <div class="row feature text-center">
    <br />
    <div class="col-12 col-sm">
      <div class="column">
        <div class="booyah-box">
          <h3 class="black side">Video analysis</h3>
            <video id="odp" width="320" height="240" controls controlsList="nodownload" class="d-block w-100">
              <source src="odp_dia_06_1.mp4" type="video/mp4">
              <source src="odp_dia_06_1.ogg" type="video/ogg">
              Your browser does not support the video tag.
            </video>
        </div>
      </div>
    </div>
    <br />
    <hr />
    <div class="col-12 col-sm">
      <div class="column">
        <div class="booyah-box">
          <h3 class="black side">Cultural experience</h3>
            <video id="odp" width="320" height="240" controls controlsList="nodownload" class="d-block w-100">
              <source src="odp_dia_02_1.mp4" type="video/mp4">
              <source src="odp_dia_02_1.ogg" type="video/ogg">
              Your browser does not support the video tag.
            </video>
        </div>
      </div>
    </div>
    <br />
    <hr />
    <div class="col-12 col-sm">
      <div class="column">
        <div class="booyah-box">
          <h3 class="black side">Sightseeing</h3>
            <video id="odp" width="320" height="240" controls controlsList="nodownload" class="d-block w-100">
              <source src="odp_dia_05_1.mp4" type="video/mp4">
              <source src="odp_dia_05_1.ogg" type="video/ogg">
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
      </div>
      <hr />
      <hr />
      <br />
  </div>
</div>

