
<br />
<br />

<div class="blueyah-box">
  <div class="booyah-box">
    <h1 class="text-center">Policies</h1>

    <ul style="list-style-type:none;">
      <li>
        <a href="/Refund_policy.pdf", target="_blank">Refund policy</a>
      </li>
      <li>
        <a href="/Poliza_de_reembolso.pdf", target="_blank">Poliza de reembolso</a>
      </li>
      <li>
        <a href="/2020_Individual-player_Waiver_Matic_Sport.pdf", target="_blank">Individual-player Waiver</a>
      </li>
    </ul>
  </div>
</div>

<div class="booyah-box">
  <h1 class="text-center">FAQs</h1>
  <a href="/FAQs_E&S.pdf", target="_blank">English and Spanish</a>
</div>