
<br />
<br />

  <div class="booyah-box">
    <h1 class="text-center">Policies</h1>

      <button class="blue">
        <a href="/Refund_policy.pdf", target="_blank" class="pds">Refund policy</a>
      </button>
      <hr />
      <br />
      <button class="blue">
        <a href="/Poliza_de_reembolso.pdf", target="_blank" class="pds">Poliza de reembolso</a>
      </button>
      <hr />
      <br />
      <button class="blue">
        <a href="/2020_Individual-player_Waiver_Matic_Sport.pdf", target="_blank" class="pds">Individual-player Waiver</a>
      </button>
      <hr />
      <br />
  </div>

<br />

  <div class="booyah-box">
    <h1 class="text-center">FAQs</h1>
    <button class="blue">
      <a href="/FAQs_E&S.pdf", target="_blank" class="pds">English and Spanish</a>
    </button>
  </div>
