
<br />
<br />

<div class="blueyah-box">
  <h1 class="text-center">Policies</h1>



  <ul>
    <li>
      <a href="/Refund_policy.pdf", target="_blank">Refund policy</a>
    </li>
    <li>
    </li>
    <li>
    </li>
    <li>
    </li>
    <li>
    </li>
  </ul>
</div>

<div class="blueyah-box">
  <h1 class="text-center">FAQs</h1>
  <a href="/FAQs_E&S.pdf", target="_blank">English and Spanish</a>
</div>