
<br />
<br />

<div class="blueyah-box">
  <h1 class="text-center">Services</h1>
  <div class="booyah-box">
    <ul>
      <li>
        <h3>Video</h3>
        <p>We understand that the best moments of a sports experience should be captured and that is why we will synthesize in an audiovisual way everything we know.
        It will remain in your memory, but also within your reach when you want to relive it.</p>
      </li>
      <li>
        <h3>Photography</h3>
        <p>Still images are capable of encompassing moments, which will be captured under our lens so you have them and share with whoever you want.</p>
      </li>
      <li>
        <h3>Sports Recording</h3>
        <p>The main objective is the sport; therefore, we grant the importance of capturing the activities that your team performs in a professional sports way for later analysis.
        With us you will have the possibility to record every play, every moment, every game.</p>
      </li>
      <li>
        <h3>Sports Intelligence</h3>
        <p>Using the video tool, we offer the necessary conditions for your sports analysis.

        If you want to know the environment you are going into, what kind of teams you will face, we are the tool for information and the way in which the coach and team can observe, analyze and correct the most important aspects of the game.

        We become part of the team, we perspire together and work hand in hand offering all the tools that complements and helps your team obtain the best results.

        We are the image of your team, we are analysis, we are the window to those details that will allow you to achieve the maximum performance of your sports experience.</p>
      </li>
    </ul>
  </div>
</div>

<br />

<div class="blueyah-box">
  <%= link_to "https://www.youtube.com/channel/UCHNyRfuJrvJxGGoJjfRyrsQ" do %>
    <h1 class="yell text-center">Our Youtube channel</h1>
  <% end %>
</div>
