
<br />
<br />

<div class="blueyah-box">
  <h1 class="text-center">Services</h1>
  <div class="booyah-box">
    <ul>
      <li>
        <a href="/sample.docx", target="_blank">Sample Itinerary</a>
      </li>
      <li>
        <a href="/ODP_WR_Schedule.docx", target="_blank">ODP Western Region Schedules</a>
      </li>
    </ul>
  </div>
</div>

<div class="blueyah-box">
  <h1 class="text-center">Gametime Videos</h1>
  <ul>
    <li>
      
    </li>
    <li>
      
    </li>
  </ul>