
<br />
<div class="booyah-box col-10 offset-1">
  <h1>Take a team</h1>
  <br />
  <button class="blue">
    <%= link_to 'Sign up', tour_path, class: 'pds' %> 
  </button>
  <br />
</div>

<br />

<h1 class="black text-center">Experiencia Chivas</h1>
<div class="booyah-box col-10 offset-1">
  <h1>Go as an individual</h1>
  <br />
  <h3 class="black text-center">April 13-20, 2020</h3>
  <button class="blue">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSfKv8bGOCgyMnbAXxI70Q1_2FFPpmcR2JALEMCkttHr20nE3A/viewform?embedded=true" target="_blank" class="pds">Sign up</a>
  </button>
  <br />
</div>
