
<br />

  <h1 class="text-center">Tours</h1>
  <div class="booyah-box col-12 col-sm">
    <h3>
      Join one us for one of our outstanding 5-star tour experiences. Play international friendly soccer games, sight-seeing and visit pro soccer stadiums and games.
    </h3>
  </div>
  <br />
  <div calss="row feature text-center">
    <div class="col-12 col-sm">
      <div class="booyah-box">
        <h1>Club Team International Friendlies</h1>
        <h3>Live an unforgettable experience through professional clubs, coaches, and directors.</h3>
        <p>
          <button class="blue">
            <a href="/Club_Team_International_Friendlies_Traveling_Packet.pdf"target="_blank" class="pds">Click me to view in English</a>
          </button>
          <br />
          <br />
          <button class="blue">
            <a href="/ESP_Club_Team_International_Friendlies_Traveling_Packet.pdf"target="_blank" class="pds">Click me to view in Spanish</a>
          </button>
        </P>
      </div>
      <div class="booyah-box">
        <h1>Team Tournament Travel Experience</h1>
        <h3>Participate in an international soccer tournament and live the experience of a professional soccer player.</h3>
        <P>
          <button class="blue">
            <a href="/Team-Tournament-Travel-Experience.pdf"target="_blank" class="pds">Click me to view in English</a>
          </button>
          <br />
          <br />
          <button class="blue">
            <a href="/ESP_Team_Tournament_Traveling_Packet.pdf"target="_blank" class="pds">Click me to view in Spanish</a>
          </button>
        </P>
      </div>
      <div class="booyah-box">
        <h1>Individual Traveling Packet</h1>
        <h3>Fullfill yor childs dream with our once in a lifetime experience as a proffesional.</h3>
        <P>
          <button class="blue">
            <a href="/Individual_Traveling_Packet_1.pdf"target="_blank" class="pds">Click me to view in English</a>
          </button>
          <br />
          <br />
          <button class="blue">
            <a href="/ESP_Individual_Traveling_Packet.pdf"target="_blank" class="pds">Click me to view in Spanish</a>
          </button>
        </P>
      </div>
    </div>
  </div>


<br />

<div class="col-12 col-sm">
  <div class="booyah-box">
     <h2 class="black">These are some examples of our travel packages. However, we know each team/club is unique and may need different accomodations. Depending on your need we will change the travel packet and budget accordingly.</h2>
      <h2 class="black">Estos son algunos ejemplos de nuestros paquetes de viaje. Sin embargo, sabemos que cada equipo/club es único y puede necesitar diferente tipo de alojamiento. Dependiendo de sus necesidades, cambiaremos el paquete de viaje y el presupuesto.</h2>
  </div>
</div>
