
<br />

<div class="booyah-box col-10 offset-1">
  <h1>Tours</h1>
  <div calss="row feature text-center">
    <div class="col-12 col-sm">
      <div class="booyah-box">
        <h2>Club Team International Friendlies</h2>
        <p>
          <a href="/Club_Team_International_Friendlies_Traveling_Packet.pdf"target="_blank">Click me to view in English</a>
          <br />
          <a href="/ESP_Club_Team_International_Friendlies_Traveling_Packet.pdf"target="_blank">Click me to view in Spanish</a>
        </P>
      </div>
    <div class="col-12 col-sm">
      <div class="booyah-box">
        <h2>Team Tournament Travel Experience</h2>
        <P>
          <a href="/Team-Tournament-Travel-Experience.pdf"target="_blank">Click me to view in English</a>
          <br />
          <a href="/ESP_Team_Tournament_Traveling_Packet.pdf"target="_blank">Click me to view in Spanish</a>
        </P>
      </div>
    </div>
    <div class="col-12 col-sm">
      <div class="booyah-box">
        <h2>Individual Traveling Packet</h2>
        <P>
          <a href="/Individual_Traveling_Packet_1.pdf"target="_blank">Click me to view in English</a>
          <br />
          <a href="/ESP_Individual_Traveling_Packet.pdf"target="_blank">Click me to view in Spanish</a>
        </P>
      </div>
    </div>
  </div>

</div>