
<br />

<div class="blueyah-box col-10 offset-1">
  <h1 class="text-center">Tours</h1>
  <div class="booyah-box col-12 col-sm">
    <h2>These are some examples of out travel packages. However, we know each team/club is unique and may need different accomodations. Depending on your need we will change the travel packet and budget accordingly.</h2>
    <h2>Estos son algunos ejemplos de nuestros paquetes de viaje. Sin embargo, sabemos que cada equipo/club es único y puede necesitar diferents alojamientos. Dependiendo de su necesidad, cambiaremos el paquete de viaje y el presupuesto en consecuencia.</h2>
  </div>
  <br />
  <div calss="row feature text-center">
    <div class="col-12 col-sm">
      <div class="booyah-box">
        <h2>Club Team International Friendlies</h2>
        <p>
          <a href="/Club_Team_International_Friendlies_Traveling_Packet.pdf"target="_blank">Click me to view in English</a>
          <br />
          <a href="/ESP_Club_Team_International_Friendlies_Traveling_Packet.pdf"target="_blank">Click me to view in Spanish</a>
        </P>
      </div>
      <div class="booyah-box">
        <h2>Team Tournament Travel Experience</h2>
        <P>
          <a href="/Team-Tournament-Travel-Experience.pdf"target="_blank">Click me to view in English</a>
          <br />
          <a href="/ESP_Team_Tournament_Traveling_Packet.pdf"target="_blank">Click me to view in Spanish</a>
        </P>
      </div>
      <div class="booyah-box">
        <h2>Individual Traveling Packet</h2>
        <P>
          <a href="/Individual_Traveling_Packet_1.pdf"target="_blank">Click me to view in English</a>
          <br />
          <a href="/ESP_Individual_Traveling_Packet.pdf"target="_blank">Click me to view in Spanish</a>
        </P>
      </div>
    </div>
  </div>

</div>