
@import "bootstrap";
@import "font-awesome";

html {
  scroll-behavior: smooth !important;
}

.img {
  width: 30px;
  height: 30px;
}

.images {
  width: 90%;
  height: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.yell {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  color: rgb(255, 255, 255);
}

.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('so-white.png');
}

.navbar-light a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: black;
}

.collapse .navbar-collapse {
  float: right !important;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: red;
}

.hero {
  background: image_url('head25.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 435px;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  width: auto;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
  color: white;
  transform:translateY(-50%);
  h2 {
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 100;
    text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
    position: relative;
    top: 75%;
    right: 15%;
  }

  h3 {
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 200;
    text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
    position: relative;
    top: 15%;
    right: 18%;
  }
}

.btn {
  border-radius: 0;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

body {
  background: white top;
  font-family: "Helvetica Neue", Helvetica;
}

.me {
    height: 150px;
    border-radius: 100%;
    border-style: solid;
    border-color: rgb(255, 215, 0);
    margin-top: 40px;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: white;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
  width: 80%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;

  h3, h2, h1, p {
    margin: 10px;
    text-align: center;
    color: black !important;
  }
}

.blueyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: rgba(43, 69, 140, 1);
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
  width: 80%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;

  h2, h1 {
    text: center;
    margin: 10px;
    color: rgb(255, 255, 255);
  }
}

.clear {
  clear: both;
}

#wrapper { 
  width: 90% !important; 
  height: 75%; 
  margin: 0 auto;
  width: 50%;
  height: 100%;
  flex: auto !important;
} 

.side {
  flex: auto;
  padding-right: 2px;
  padding-left: 1px;

}

.meow {
  alt: Snow; 
  width: 100%;
}


.blue {
  background-color: rgb(43, 69, 140);
  border: none;
  color: white !important;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
} 

.row {
  display: flex;
  flex: auto !important;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.columnv {
  flex: 60%;
  padding: 5px; 
}

.pds {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  color: white;
}

.a :hover {
  color: rgb(255, 215, 0);
}

.topbtn {
  position: fixed;
  width: 50px;
  height: 50px;
  background: rgba(43, 69, 140, .7);
  bottom: 40px;
  right: 30px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: rgb(255, 215, 0);
  font-size: 22px !important;
}

.topbtn :hover {
  color: white;
}
